* {
    box-sizing: border-box;
}
    
body{
  margin: 0;
}

.navbar{
    background-color: #303820;
    height: 130px;
    padding: 0;
    display: flex;
    width: 100%;
  }
    
.navbar ul{
    margin: 50px;
  }
.navbar li{
    display: inline-block;
    padding: 0px 10px;
    list-style: none;
}

.navbar li a{
  text-decoration: none;
  font-size: 40px;
  color: #E8B5A2;
  font-family: 'Acme', sans-serif;

}
.page{
  background-color: #E8B5A2 ;
}

.page h1{
  margin: 0;
  color: #303820;
  padding-left: 150px;
  padding-top: 80px;
  font-family: 'Acme', sans-serif;
  font-size: 40px;
}
.page img{
  width: 60px;
  height: 60px;
  margin-top: 25px;
  margin-right: 20px;
  margin-left: 10px;
}
.profile{
  display: flex;
}

#image{
  width: 20%;
  height: 20%;
  border-radius: 25px;
  margin-left: 150px;
  margin-top: 70px;
  margin-bottom: 100px;
  border-width: 4px;
  border-color: #303820;
  border-style: solid;
}

.introduction{
  margin-left: 40px;
  margin-top: 70px;
  margin-bottom: 100px;
}

.name{
  margin-top: 10px;
  margin-bottom: 0;
  text-decoration: none;
  color:#303820;
  font-size: 40px;
  font-family: 'Noto Serif KR', serif;
}

.text{
  display: flex;
}

.detail{
  color:#303820;
  font-size: 25px;
  font-family: 'Noto Serif KR', serif;
  line-height: 180%;
  margin-top: 0;
  font-weight: bold;
}

.star{
  margin-left: 30px;
  display: flex;
}

#bts{
  width: 330px;
  height: 230px;
  margin-right: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom: #303820 solid 4px;
  border-left: #303820 solid 4px;
  border-top: #303820 solid 4px;
}

#james{
  width: 180px;
  height: 230px;
  margin-left: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom: #303820 solid 4px;
  border-right: #303820 solid 4px;
  border-top: #303820 solid 4px;
}
.footer{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #5F7C82 ;
  border-top: dashed 3px #303820;
}
.contact{
  color: #E8B5A2;
  font-size: 40px;
  font-family: 'Acme', sans-serif;
}
#email{
  width: 50px;
  height: 50px;
  margin: 0;
}
#sns{
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-top: 0;
  margin-right: 0;
}

.school{
  display: flex;
  font-family: 'Noto Serif KR', serif;
  font-size: 30px;
  margin-top: 35px;
  padding-left: 150px;
  color: #303820;
  font-weight: bold;
}

.school img{
  width: 70px;
  height: 70px;
  margin-top: 40px;
}

.college{
  display: flex;
  font-family: 'Noto Serif KR', serif;
  font-size: 30px;
  padding-left: 150px;
  color: #303820;
  font-weight: bold;
}

.college img{
  width: 70px;
  height: 70px;
  margin-top: 40px;
}

.future{
  display: flex;
  font-family: 'Noto Serif KR', serif;
  font-size: 30px;
  padding-left: 150px;
  padding-bottom: 30px;
  color: #303820;
  margin-bottom: 100px;
  font-weight: bold;
}

.future img{
  width: 70px;
  height: 70px;
  margin-top: 40px;
}
